
$blueYonder: #576CA8;
$saffron: #F5C133;
$lightGray: #546277;
$textShadow: 0 0 .2rem #576ca898;
$textShadowAlt: 0 0 .2rem #5E6F4798;
$boxshadow: 0 .8rem 2rem #576CA839;
$darkOverlay: #040404;
$whiteRadialGradient: 
radial-gradient(
 #fefefe11, #fefefe77
),
radial-gradient(
  #7b84ff11, #d8dffc99
);
$whiteGradient: linear-gradient(#fefefe, #fefefe89);
$transition: all .4s ease-in-out;
