@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;
@use './navigation';

.header {
  position: relative;
  min-height: 100vh;
  background: v.$whiteRadialGradient,
   url('../imgs/joel-jasmin-forestbird-iNPs5ftmyj0-unsplash-1920-2879.jpg') center / cover no-repeat;

  .hero {
    position: relative;
    min-height: 100vh;
    margin-inline: auto;
    text-align: center;
    text-shadow: v.$textShadow;
    z-index: 1;
    
    &-content {
      padding-top: 4rem;

      & > * {
        margin: 2rem 0;
      }
    }
  }
}