@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;

.section-resume {
  &-content {
    max-width: 80rem;
    margin-inline: auto;

    .resume-item {
      margin-top: 4rem;
      padding: 2rem;
      border: 3px solid v.$saffron;
      border-radius: 1rem;

      &:nth-child(2) {
        border-color: v.$blueYonder;
      }

      &-header {
        a {
          color: v.$blueYonder;
        }
      }

      &-desc-list {
        li {
          @include mx.flexCenter;
          margin: 1rem 0;
          line-height: 1.4;
          letter-spacing: initial;
          font-size: 1.5rem;
          padding: 0;

          & i {
            padding-right: 1.2rem;
            font-size: 1.6rem;
          }
        }
      }

      // Unique format for item-1
      &#item-1 {
        .resume-project {
          padding-block: .7rem 1rem;

          &-title {
            font-size: 1.25rem;
            line-height: 1.6;
            text-decoration: underline;

            &:not(:first-child) {
              padding-block-start: 1rem;
            }
          }

          &-desc-list li {
            @include mx.flexCenter;
            font-size: 1.23rem;
            padding-block: .3rem;

            i {
              font-size: .5rem;
              padding-inline-end: 1rem;
            }
          }
        }
      }
    }
  }
}