@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;

.section-sound {
  padding: 1.5rem .5rem;
  
  &-content {
    justify-content: center;
    flex-wrap: wrap;

    &-item {
      margin: 3rem auto;

      video, iframe {
        width: 100%;
        height: 205px;
      }
    }
  }
}